.event {
    background-color: var(--primary);
    border-radius: 5px;
    border: 2px solid var(--primaryDarker);
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    transition: all 300ms ease-out;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 4px;
    color: white;
    font-size: 0.9rem;
    text-align: start;
}

.event:hover {
    background-color: var(--primaryDark);
}

.event-button {
    padding: 4px;
    color: white;
    border: none;
    font-size: 0.9rem;
    background-color: inherit;
    width: 100%;
    text-align: start;
}

.event-name {
    margin: 0px;
    overflow: hidden;
}
